/* .buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1rem;
    padding:auto;
    background-color: #f17d80;
    max-width:15rem;
} */
/* button {
    width:2rem;
} */

Link{
    color:white;
}