/* .pic{
    width:200px;
    height:200px;

} */
*{
    {box-sizing:border-box;}
}


.mainContainer{
    /* display:flex;
    flex-direction: column; */
    /* flex-flow: column wrap; */
    /* background-color: red; */
    /* background-image: url(./fly.png) ;
    background-repeat: no-repeat;
    background-size: cover;

 */
}

.imgdiv{
/* width:33%; */
height:100vh;  
/* width:500px; */
  display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    /* background-color: red; */
    /* flex-grow:5; */


}




form{
    width:50%;
    display:flex;
    flex-direction: column;
    margin:auto;
    padding:auto;
    /* margin:auto; */
    /* text-align: center; */
/* display:inline-block */

    
}
.form-row{
    display:flex;
    justify-content:center;
    margin-bottom:2rem;
    gap:5%
}
.form-input{
    margin-bottom:auto;
}
.form-row-submit{
display:flex;
justify-content:center;
margin-bottom:2rem;
gap:5%

}
.form-input-upload{
    display:flex;
    flex-direction:column;

}
.form-row-submit > button{
    width:5rem;
    flex-basis:1;
    

}
.formdiv{
    object-fit:contain;
}


  




/* label{
    display: inline-block;
    width: 35%;
    text-align: right;
  
} */

.card-img-top{
    width:100%;
    height:100%;
}
img{
    width:15rem;
    height:15rem;
    flex-wrap:wrap;
}
.CardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 200px;
    height:250px;
}

.info{
    display: flex;
    flex-direction:column;

    /* flex-wrap: wrap; */
    display: inline-flex;
    flex-wrap: wrap;
    width: 15rem;
    background-color: lemonchiffon;
    border: solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    height: 9rem;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* flex-wrap:wrap; */
}
.info > p{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.info-row{
    justify-content:center;
    align-items:center;

}
.containerData{
    flex-basis: auto;
    margin:auto;
    
    /* flex-wrap:wrap; */
    

}

.controls-container{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2rem;
    width:15rem;
    background-color: lemonchiffon;
    border: solid black;
    border-radius:1rem;
    display:flex;
    justify-content: center;
    height:4rem;
    margin-bottom:2rem;


  }
  .controls{
      align-items: center;
      margin:auto;
      border: solid white;

  }
  .controls:nth-child(1){
    background-color:green;
  }
.controls:nth-child(2){
    background-color:red;

  }


  @media (max-width:900px){
      *{
          max-width:100%;
      }
      header{
        width: 100vw;
        padding: auto;
        display: flex;
        flex-direction: column;
        background-color: cornsilk;
        color: #91b1ed;
      }
      header > h1{
        font-size: 1.5rem;
        width: 100vw;
        text-align: center;
      }
      header > ul {
        font-size: 0.85rem;
        width: 100vw;
        padding: 0;
        justify-content: space-around;
        margin: 0;
      }
      header > ul > li {
          margin:0;
      }

      .mainContainer{
          display:flex;
          flex-direction:column;
      }
      .container-fluid{
          display:flex;

      }
      .main-container > form {
          order:1;
        margin:auto;          
      }
      .main-container > .imgdiv{
        order:2;
      }
      /* .main-container{
          width:100;
      } */
  }