
.title{
    width:100vw;
}
.font-link {
    /* font-family: 'Cedarville Cursive', cursive; */
    font-family: 'Lobster', cursive;
    color:white;
    /* width:100vw; */
    justify-content: center;
    text-align:center;
    margin:auto;




  }

  .filler{
      display:flex;
      flex-direction: column;
      /* flex-basis:1; */
      height:50px;
      width:50px;
      justify-content:center;
      align-self: center;
  }
  .filler > svg {
      color:red;
      /* height:20rem; */
  }

  .filler:nth-child(1){
      width:100px;
      margin-bottom:1rem;
  }

  
  /* .container{
    background-image: url("./musicbg.png") no-repeat; 
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
 
} */
/* .musicbg{
    background-image: url(./musicbg.png);

    background-size: stretch;

}

img{
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  
} */

.container{
      /* background-size: cover; */
    /* max-height:40%; */
    min-width: 100%;
    /* min-height: 60%; */
    height:50vh;
    display:flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 25rem;
    margin-right:25rem;
    margin-bottom:1rem;
    background-image: url(./dogs.png) ;
    background-repeat: no-repeat;


}

.page-content{
    height: 400px;
    display:flex;
    justify-content: center;
    margin:auto;
    margin-top:1rem;



}


.card{
    margin-top:3rem;
    height:15rem;
    display:flex;
    /* width:100vw; */
}
.card > .filler{
    flex-grow: 1;
}
Button {
    /* margin-top:18rem; */
    display:flex;
    /* justify-content:center; */
    /* position: absolute;  */
    margin-bottom :1rem; 
    margin-top: auto;
    margin-right:auto;
}
 @media (max-width: 1200px) {
    .container{
        background-image: url("./tapes.png") ;
        display:flex;
        flex-direction:column;
        margin:auto;

    }
    /* .page-content > div{
        background-image:url("./sunglass.png")
    } */
   
} 